{% extends "base.html" %}
{% block title %}
Home page
{% endblock %}
{% block content %}
<div class="row row1">      
    <div class="col-12 col-md-6" height='auto'>
        {% load static %}
         <img src="{% static 'Images/DrV.jpg' %}"></img>
    </div>
    <div class="col-12 col-md-6" style="font-size: 3vh;overflow: auto;width:100%">
        <p>Welcome to Essvee Hospital
            ESSVEE Multi-Speciality Hospital caters to patients from all classes of society. Under the leadership of Chief Surgeon and Laparoscopic Surgeon,DR. S. VARADARAJAN, M.S., F.I.C.S., ESSVEE Hospital has been providing medical care and surgical services with patient-centered approach.Multiple Medical and Surgical Specialities are available under one roof, provided byvarious Specialist Doctors with utmost dedication.<br>
            <br><br>
            ESSVEE Hospital is proudly striving forward into its 21 st Year in Healthcare in this region. Hailing from nearby towns, villages and even many areas of Chennai City extending upto 40 Kms radius from Ambattur. Our patients’ testimonies are teemed with high satisfaction regarding quality of medical care and our approach towards patients at our Centre.We welcome you to ESSVEE Hospital to experience a high quality Medical and Surgical Care and be part of our Healthcare journey. We wish you a speedy recovery.
        </p>
        
</div>              
</div>  
<div class="row" > 
</div>  
{% endblock %}